WhiskyInTheJar-TopDownShooter/.vs/
WhiskyInTheJar-TopDownShooter/Library/
WhiskyInTheJar-TopDownShooter/Temp/
WhiskyInTheJar-TopDownShooter/Logs/
WhiskyInTheJar-TopDownShooter/obj/
WhiskyInTheJar-TopDownShooter/Packages/